@import "__helpers";


///*****************************************************************
//***************************Styling MENU***************************
//*****************************************************************/
.header-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 20%;
  min-width: 167px;
  font-size: 0;
  display: inline-block;
  transition: 0.4s;

  &-link {
    display: inline-block;
    height: 100%;
  }

  &-img {
    height: 100%;
    width: auto;
  }


}

.menu {
  .list-unstyled();
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;



  &-item {
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 30px;
    transition: 0.4s;
    &:last-child{
      padding: 0 0 0 30px;
    }

  }

  &-link {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    transition: 0.4s;
    color: #acb;

    &:hover {
      color: #3498db;
    }
  }
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;

  &:hover {
    color: #3498db;
  }
}

#chk {
  display: none;
}


///*****************************************************************
//***************************Styling BURGER*************************
//*****************************************************************/

@media screen and (max-width: 800px) {

  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }


  .show-menu-btn, .hide-menu-btn {
    display: block;
  }

  .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #333;
    left: -100%;
    top: 0;
    text-align: center;
    padding: 20px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 1;

    &-item {
      display: block;
      padding: 20px;

      &:last-child{
        padding: 20px;
      }
    }
  }

  .hide-menu-btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #chk:checked ~ .menu {
    left: 0;
  }

}