<!-- @@master= components/master.tmpl.html {"title": "My first blog"}-->


<!--******************************************************************
***************************Header section*****************************
*******************************************************************-->
<!-- @@block= header -->
<div class="header-wrapper">
    <div class="logo">
        <a href="#" class="logo-link">
            <img src="images/logo.png" alt="" class="logo-img">
        </a>
    </div>

    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
    </label>
    <ul class="menu">

        <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
        </label>

        <li class="menu-item">
            <a href="#" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">About</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Contact</a>
        </li>


    </ul>


    <div class="header-container-search">
        <input class="search" name="search" type="text" placeholder="What're we looking for ?">
        <i class="fa fa-search search-submit"></i>
    </div>

    <div class="header-container-social">
        <div class="sidebar-social">
            <a class="fa fa-facebook" href="#"></a>
            <a class="fa fa-twitter" href="#"></a>
            <a class="fa fa-google-plus" href="#"></a>
            <a class="fa fa-youtube" href="#"></a>
            <a class="fa fa-linkedin" href="#"></a>
        </div>
    </div>

</div>
<!-- @@close -->


<!--******************************************************************
***************************Content section****************************
*******************************************************************-->
<!-- @@block= content -->
<div class="card">
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/1.jpg"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">The lightsabers in Jedi</h3>
            <div class="post-desc">
                Fallen Order have
                been changed because they weren't
                bright or stabby enough
            </div>
            <div class="post-author">Zoe Delahunty-Light</div>
            <div class="post-statistic-wrp">
                <span class="post-time">5 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/2.jpg"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">We're living through the Golden Age of television</h3>
            <div class="post-desc">When it comes to television, on the other hand,
                you're a member of a privileged generation,
                because there's no question that we're living through the most Golden of
                Ages of TV.
            </div>
            <div class="post-author">Zoe Delahunty-Light</div>
            <div class="post-statistic-wrp">
                <span class="post-time">44 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/3.jpg"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Call of Duty: Modern Warfare</h3>
            <div class="post-desc">Call of Duty: Modern Warfare is introducing a brand new mechanic:
                reloading while aiming down sights
            </div>
            <div class="post-author">Zoe Delahunty-Light</div>
            <div class="post-statistic-wrp">
                <span class="post-time">2 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/4.jpg"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">
                10 Cloverfield Lane director says </h3>
            <div class="post-desc">10 Cloverfield Lane director says there have been
                some "fun" ideas thrown around for
                a "radically different" sequel
            </div>
            <div class="post-author"> Jack Shepherd</div>
            <div class="post-statistic-wrp">
                <span class="post-time">15 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/5.jpg"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Does Borderlands 3</h3>
            <div class="post-desc">Does Borderlands 3 have too many guns? "We definitely
                reached a threshold where it doesn't matter how big the number is"
            </div>
            <div class="post-author">Chris Burke</div>
            <div class="post-statistic-wrp">
                <span class="post-time">22 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/6.jpg"
                 alt="game">
        </div>
        <div class="post-info">
            <h3 class="post-title">"I thought it was a really smart way in"</h3>
            <div class="post-desc">"I thought it was a really smart way in" - The Uncharted movie director
                on why a young Nathan Drake is the right choice
            </div>
            <div class="post-author">Bradley Russell</div>
            <div class="post-statistic-wrp">
                <span class="post-time">9 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/7.jpg"
                 alt="game">
        </div>
        <div class="post-info">
            <h3 class="post-title">Sniper Elite VR </h3>
            <div class="post-desc">
                Sniper Elite VR is the kind of bonkers ball-bursting
                ballistics fun VR has been waiting for
            </div>
            <div class="post-author">Sam Loveridge</div>
            <div class="post-statistic-wrp">
                <span class="post-time">4 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/8.jpg"
                 alt="game">
        </div>
        <div class="post-info">
            <h3 class="post-title">Red Dead Redemption 2 PC</h3>
            <div class="post-desc">Red Dead Redemption 2 PC port all but confirmed with yet
                more evidence of its impending release
            </div>
            <div class="post-author">Alex Avard</div>
            <div class="post-statistic-wrp">
                <span class="post-time">5 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/9.jpg"
                 alt="game">
        </div>
        <div class="post-info">
            <h3 class="post-title">GTA Online</h3>
            <div class="post-desc">
                GTA Online Independence Day 2019 – Fourth of July week
                bonuses and discounts are now live
            </div>
            <div class="post-author">Iain Wilson</div>
            <div class="post-statistic-wrp">
                <span class="post-time">5 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/10.jpg"
                 alt="game">
        </div>
        <div class="post-info">
            <h3 class="post-title">Star Wars: Outer Rim</h3>
            <div class="post-desc">Save big on board games like Star Wars: Outer Rim,
                Fallout, and Betrayal at House on the Hill
            </div>
            <div class="post-author">Benjamin Abbott</div>
            <div class="post-statistic-wrp">
                <span class="post-time">9 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="images/11.png"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Hitman 2</h3>
            <div class="post-desc">
                Kill your annoying musical neighbor with the new content coming to Hitman 2 in July
            </div>
            <div class="post-author">Aron Garst</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 hours ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- @@close -->


<!--******************************************************************
***************************Sidebar section****************************
*******************************************************************-->

<!-- @@block= author -->
<div class="sidebar-author">

    <div class="sidebar-author-imgContainer">
        <img class="sidebar-author-img"
             src="images/author.jpeg"
             alt="nature">
    </div>

    <div class="sidebar-author-info ">
        <h3 class="sidebar-author-info-name post-title">John Doe</h3>
        <div class="sidebar-author-info-desc">
            Are multiple-use names that
            are used when the true name of a person is unknown or is being intentionally
            concealed.In the context of law enforcement in the United States,
            such names are often used to refer to a corpse whose identity is
            unknown or unconfirmed.
        </div>

    </div>
</div>
<!-- @@close -->

<!-- @@block= sidebar -->
<div class="sidebar-innerInfo">

    <div class="sidebar-social">
        <a class="fa fa-facebook" href="#"></a>
        <a class="fa fa-twitter" href="#"></a>
        <a class="fa fa-google-plus" href="#"></a>
        <a class="fa fa-youtube" href="#"></a>
        <a class="fa fa-linkedin" href="#"></a>
    </div>
    <hr>

    <div class="sidebar-subscribe">
        <div class="sidebar-subscribe-wrapper">
            <h4 class="sidebar-subscribe-title">SUBSCRIBE TO OUR NEWSLETTER</h4>
            <input type="text" name="name" class="sidebar-subscribe-name" placeholder="Your name">
            <input type="email" name="email" class="sidebar-subscribe-email" placeholder="Your e-mail">
            <input type="button" class="sidebar-subscribe-btn" value="Subscribe">
        </div>
    </div>

    <div class="sidebar-search">
        <input type="text" class="sidebar-search-input">
        <input type="button" class="sidebar-search-btn" value="Search">
    </div>

    <div class="sidebar-tags">
        <a href="#">Action</a>
        <a href="#">Adventure</a>
        <a href="#">Casual game</a>
        <a href="#">Strategy</a>
        <a href="#">Simulator</a>
        <a href="#">Role-playing game</a>
    </div>

    <div class="sidebar-comments">
        <div class="sidebar-comments-imgContainer">
            <img src="images/willSmith.jpg" alt="" class="sidebar-comments-img">
        </div>
        <div class="sidebar-comments-info">
            <span class="sidebar-comments-author">Will Smith</span>
            <span class="sidebar-comments-time">5 minutes ago</span>
            <div class="sidebar-comments-desc">Games are better when creators of all backgrounds share their
                ideas and experiences with the rest of us
            </div>
        </div>
    </div>
</div>
<!-- @@close -->


<!--******************************************************************
***************************Footer section*****************************
*******************************************************************-->
<!-- @@block= footer -->
<div class="cop">
    Design is copyright &#169 2019 Kostiantyn Dobrutkyi. All rights reserved
</div>
<!-- @@close -->