<!-- @@master= components/master.tmpl.html {"title": "My first blog"}-->


<!-- @@block= header -->
<div class="header-wrapper">
    <div class="logo">
        <a href="#" class="logo-link">
            <img src="https://placehold.it/500x300" alt="" class="logo-img">
        </a>
    </div>

    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
    </label>


    <ul class="menu">

        <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
        </label>

        <li class="menu-item">
            <a href="#" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">About</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Contact</a>
        </li>


    </ul>
</div>
<!-- @@close -->


<!-- @@block= content -->


<div class="card">
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/600/300/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/320/240/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/700/240/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/200/700/paris,girl/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/100/100/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/320/300/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/700/800/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/1000/500/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/360/180/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/650/330/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/300/200/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>


</div>



<!-- @@close -->

<!-- @@block= sidebar -->
sidebar
<!-- @@close -->

<!-- @@block= footer -->
footer
<!-- @@close -->