<!-- @@master= components/master.tmpl.html {"title": "My first blog"}-->


<!--******************************************************************
***************************Header section*****************************
*******************************************************************-->
<!-- @@block= header -->
<div class="header-wrapper">
    <div class="logo">
        <a href="#" class="logo-link">
            <img src="https://placehold.it/500x300" alt="" class="logo-img">
        </a>
    </div>

    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
    </label>
    <ul class="menu">

        <label for="chk" class="hide-menu-btn">
            <i class="fas fa-times"></i>
        </label>

        <li class="menu-item">
            <a href="#" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">About</a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">Contact</a>
        </li>


    </ul>


    <div class="header-container-search">
        <input class="search" name="search" type="text" placeholder="What're we looking for ?">
        <i class="fa fa-search search-submit" ></i>
    </div>

    <div class="header-container-social">
        <div class="sidebar-social">
            <a class="fa fa-facebook" href="#"></a>
            <a class="fa fa-twitter" href="#"></a>
            <a class="fa fa-google-plus" href="#"></a>
            <a class="fa fa-youtube" href="#"></a>
            <a class="fa fa-linkedin" href="#"></a>
        </div>
    </div>

</div>
<!-- @@close -->


<!--******************************************************************
***************************Content section****************************
*******************************************************************-->
<!-- @@block= content -->
<div class="card">
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/600/300/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.
            </div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/320/240/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/700/240/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/200/700/paris,girl/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/100/100/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/320/300/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/700/800/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/1000/500/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/360/180/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/650/330/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="post-img-container">
            <img class="post-img"
                 src="https://loremflickr.com/300/200/nature/all"
                 alt="nature">
        </div>
        <div class="post-info">
            <h3 class="post-title">Post Title</h3>
            <div class="post-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.</div>
            <div class="post-author">by Author</div>
            <div class="post-statistic-wrp">
                <span class="post-time">18 minutes ago</span>
                <div class="post-statistic">
                      <span class="comments">
                        <i class="fas fa-comments"></i>
                        <span>7</span>
                      </span>
                    <span>
                        <i class="far fa-star"></i>
                        <span>6</span>
                      </span>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- @@close -->


<!--******************************************************************
***************************Sidebar section****************************
*******************************************************************-->

<!-- @@block= author -->
<div class="sidebar-author">

    <div class="sidebar-author-imgContainer">
        <img class="sidebar-author-img"
             src="https://loremflickr.com/200/200/men,paris/all"
             alt="nature">
    </div>

    <div class="sidebar-author-info ">
        <h3 class="sidebar-author-info-name post-title">Jone Dou</h3>
        <div class="sidebar-author-info-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ut.
        </div>

    </div>
</div>
<!-- @@close -->

<!-- @@block= sidebar -->
<div class="sidebar-innerInfo">

    <div class="sidebar-social">
        <a class="fa fa-facebook" href="#"></a>
        <a class="fa fa-twitter" href="#"></a>
        <a class="fa fa-google-plus" href="#"></a>
        <a class="fa fa-youtube" href="#"></a>
        <a class="fa fa-linkedin" href="#"></a>
    </div>
    <hr>

    <div class="sidebar-subscribe">
        <div class="sidebar-subscribe-wrapper">
            <h4 class="sidebar-subscribe-title">SUBSCRIBE TO OUR NEWSLETTER</h4>
            <input type="text" name="name" class="sidebar-subscribe-name" placeholder="Your name">
            <input type="email" name="email" class="sidebar-subscribe-email" placeholder="Your e-mail">
            <input type="button" class="sidebar-subscribe-btn" value="Subscribe">
        </div>
    </div>

    <div class="sidebar-search">
        <input type="text" class="sidebar-search-input">
        <input type="button" class="sidebar-search-btn" value="Search">
    </div>

    <div class="sidebar-tags">
        <a href="#">tags1</a>
        <a href="#">tags2</a>
        <a href="#">tags3</a>
        <a href="#">tags4</a>
        <a href="#">tags5</a>
        <a href="#">tags6</a>
    </div>

    <div class="sidebar-comments">
        <div class="sidebar-comments-imgContainer">
            <img src="http://placehold.it/200x300" alt="" class="sidebar-comments-img">
        </div>
        <div class="sidebar-comments-info">
            <span class="sidebar-comments-author">Jone Dou</span>
            <span class="sidebar-comments-time">5 days ago</span>
            <div class="sidebar-comments-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur,
                cum.
            </div>
        </div>
    </div>
</div>
<!-- @@close -->


<!--******************************************************************
***************************Footer section*****************************
*******************************************************************-->
<!-- @@block= footer -->
<div class="cop">
    Design is copyright &#169 2019 Kostiantyn Dobrutkyi. All rights reserved
</div>
<!-- @@close -->