<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <title>
        <!--@@var= title-->
    </title>
    <link rel="stylesheet" href="css/app.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="content-container">
            <!-- @@placeholder= header -->
        </div>
    </header>

       <div class="content-container">

           <aside class="sidebar">
               <!-- @@placeholder= sidebar -->
           </aside>

           <main class="content">
               <!-- @@placeholder= content -->
           </main>
       </div>

</div>
<footer class="footer">
    <div class="content-container">
        <!-- @@placeholder= footer -->
    </div>
</footer>


</body>
</html>